---
Checks: >- 
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  cert-*,
  clang-analyzer-*,
  clang-diagnostic-*,
  concurrency-*,
  cppcoreguidelines-*,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-type-vararg,
  misc-*,
  modernize-*,
  -modernize-avoid-c-arrays,
  performance-*,
  portability-*,
  readability-*,
  -readability-identifier-length,
  -readability-simplify-boolean-expr

WarningsAsErrors: >-
  *

FormatStyle: file
CheckOptions:
  readability-identifier-naming.ClassCase: "CamelCase"
  readability-identifier-naming.ClassMemberCase: "lower_case"
  readability-identifier-naming.ClassMemberPrefix: "m_"
  readability-identifier-naming.ClassMethodCase: "lower_case"
  readability-identifier-naming.ConstexprVariableCase: "CamelCase"
  readability-identifier-naming.ConstexprVariablePrefix: "c"
  readability-identifier-naming.EnumCase: "CamelCase"
  readability-identifier-naming.EnumConstantCase: "CamelCase"
  readability-identifier-naming.GlobalConstantCase: "CamelCase"
  readability-identifier-naming.GlobalConstantPrefix: "c"
  readability-identifier-naming.LocalVariableCase: "lower_case"
  readability-identifier-naming.MemberCase: "lower_case"
  readability-identifier-naming.MemberPrefix: "m_"
  readability-identifier-naming.MethodCase: "lower_case"
  readability-identifier-naming.ParameterCase: "lower_case"
  readability-identifier-naming.StructCase: "CamelCase"
  readability-identifier-naming.TypedefCase: "CamelCase"
  readability-identifier-naming.UnionCase: "CamelCase"
