---
BasedOnStyle: LLVM
ColumnLimit: 100
IndentWidth: 4
---
Language: Cpp
AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
ContinuationIndentWidth: 8
InsertNewlineAtEOF: true
NamespaceIndentation: Inner
PackConstructorInitializers: CurrentLine
PointerAlignment: Left
QualifierAlignment: Right
ReflowComments: true
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
    AfterControlStatements: true
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyBlock: false
Standard: Latest
