recursive-include src/clp/components/core/src *.h
recursive-include src/clp/components/core/src *.hpp
recursive-include src/clp/components/core/src *.inc
recursive-include src/clp_ffi_py *.hpp
recursive-include src/clp_ffi_py *.inc
recursive-include clp_ffi_py *.py
recursive-include clp_ffi_py *.pyi
recursive-include clp_ffi_py py.typed
include src/clp/components/core/submodules/json/single_include/nlohmann/json.hpp
include src/GSL/include/gsl/*
