black>=24.4.2
build>=0.8.0
cibuildwheel>=2.16.2
clang-format>=19.1.6
clang-tidy>=19.1.0
docformatter>=1.7.5
gersemi>=0.16.2
# Lock to v0.3.0 to support Python3.7
msgpack-types==0.3.0
mypy>=1.10.0
mypy-extensions>=1.0.0
packaging>=21.3
ruff>=0.4.6
smart_open==6.4.0
types-Deprecated>=1.2.9
types-python-dateutil>=2.8
yamllint>=1.35.1
zstandard>=0.18.0
