InheritParentConfig: true

CheckOptions:
  # Variable naming rules
  # Allow PyObject global variables to start with `Py_`
  readability-identifier-naming.GlobalVariableIgnoredRegexp: "Py(_[a-z0-9]+)+"
